@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100&family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

header {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}